body {
    font-family: 'IBM Plex Mono', monospace;
    color: ivory;
    background: radial-gradient(circle, #050714 0%, #10163c 52.03%, #090c20 67.19%);
    margin: 0;
    padding: 20px 100px;
    align-items: center; /* Ensures everything is centered */
    justify-content: center;
    height: 100vh; /* Ensures the full height is utilized */
    box-sizing: border-box;
}

.container {
    width: 100%; /* Ensures the container uses the full available width */
    max-width: none; /* Removes any max-width restrictions */
    background: rgba(0, 0, 0, 0.8); /* Slightly transparent dark background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

button {
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    padding: 12px;
    background-color: #2BFADF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #B0FFE8;
    box-shadow: 0 4px 6px rgba(0, 255, 204, 0.4);
}

.hidden {
    display: none; /* Ensures hidden elements are truly hidden */
}

.message {
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    border-radius: 5px;
    color: #050714;
}

.loading-bar {
    width: 0%;
    height: 6px; /* Thicker for visibility */
    background-color: #D7CCC8; /* Subdued old paper color */
    margin-top: 10px;
    transition: width 2s ease;
}
